@import url('./variables.css');

/*TODO Hacer los estilos responsive para moviles*/

html {
	width: 100dvw;
	height: 100dvh;
}

body {
	display: flex;

	width: 100vw;
	height: 100vh;

	justify-content: center;
	align-items: center;

	background-color: var(--Grey900);
}

#root {
	display: flex;

	width: 100vw;
	height: 100vh;

	justify-content: center;
	align-items: center;

	background-color: transparent;
}